@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="@Url.Content("~/Content/AQYD.JPG")" width="1000" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Que es una queja?</h2>
        <p>
            Las quejas de los clientes son un indicador habitual de una baja satisfacción del cliente,
            pero la ausencia de las mismas no implica necesariamente una elevada satisfacción del cliente.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Para que?</h2>
        <p>Para las organizaciones las quejas son un problema puesto que manifiestan insatisfacción de los clientes lo cual 
        indica que el sistema de gestión de la calidad no ha alcanzado sus objetivos.</p>
    </div>

    <div class="col-md-4">
        <h2>Beneficio</h2>
        <p>
            En paralelo, las quejas
            son una oportunidad para las organizaciones puesto que ofrecen información sobre los elementos que la
            organización debe mejorar para aumentar la satisfacción de sus clientes.Por último, el adecuado tratamiento
            de las quejas y reclamaciones supone también un valor añadido para el cliente que le aporta el sistema
            de gestión de la calidad.
        </p>
    </div>
 
</div>